<h1 class="header__logo"><a href="http://wp.themedemo.co/awa/left-menu-business/"><img src="./../../../assets/images/logo.png" alt="Awa"></a></h1>

<nav class="header__nav">
    <ul class="header__ul">
        <li class="header__li"><a href="#" class="header__link">home</a></li>
        <li class="header__li"><a href="#" class="header__link">pages</a></li>
        <li class="header__li"><a href="#" class="header__link">portfolio</a></li>
        <li class="header__li"><a href="#" class="header__link">blog</a></li>
        <li class="header__li"><a href="#" class="header__link">shop</a></li>
        <li class="header__li"><a href="#" class="header__link">elements</a></li>
    </ul>
</nav>

<div class="header__footer">
    <ul class="header__social">
       <li class="header__social--item"><a href="#" class="header__social--link"><i class="fab fa-facebook-square"></i></a></li> 
       <li class="header__social--item"><a href="#" class="header__social--link"><i class="fab fa-twitter"></i></a></li> 
       <li class="header__social--item"><a href="#" class="header__social--link"><i class="fab fa-instagram"></i></a></li> 
       <li class="header__social--item"><a href="#" class="header__social--link"><i class="fab fa-pinterest-p"></i></a></li> 
       <li class="header__social--item"><a href="#" class="header__social--link"><i class="fas fa-shopping-cart"></i></a></li> 
    </ul>
    <div class="header__right">
        <p>© Awa Studio.</p>    
        <p>All Right Reserved 2018.</p>
    </div>
</div>



