<div class="welcome">
  <div class="welcome__logo">logo</div>
  <div class="welcome__nav">
    <div class="welcome__nav--item">nav</div>
    <div class="welcome__nav--item">nav</div>
    <div class="welcome__nav--item">nav</div>
    <div class="welcome__nav--item">nav</div>
    <div class="welcome__nav--item">nav</div>
  </div>
  <div class="welcome__social">
    <div class="welcome__social--icon">O</div>
    <div class="welcome__social--icon">O</div>
    <div class="welcome__social--icon">O</div>
  </div>
</div>


<!--  <ul class="contact">
  <li class="contact__item">
    Send a Message:
    <a href="mailto:hello@awastud.io">hello@awastud.io</a>
  </li>

  <li class="contact__item">
    Call Us:
    <a href="tel:(+68)120034509">(+68) 120034509</a>
  </li>
</ul>

<section class="banner">
  <p class="banner__desc">#awastudio</p>
  <p class="banner__title">it's proudly for us <br>to build stylish</p>
  <a href="#" class="banner__btn">look more</a>

  <img src="./../../assets/images/banner-bg.jpg" class="banner__bg" alt="">
</section> -->