<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>MyApp</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-root></app-root>

<!-- 

    *** create components ***

        ng generate component hero-detail
        
    *** obojsmerná syntax ***
        
        [(ngModel)] je obojsmerná syntax údajov Angular.

    *** USE *ngFor - REPEAT DIRECTIVE - TO GET DATA FROM OBJECT (ID AND NAME)
        
        <li *ngFor="let hero of heroes">

    *** Pridanie udalosti kliknutia ***

        <li *ngFor="let hero of heroes" (click)="onSelect(hero)">
    
    *** Pridanie vazby na element ***
        
        [class.selected]="hero === selectedHero"


 -->

</body>
</html>
