<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>MyApp</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  
  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-root></app-root>

<!-- 

    *** create components ***

        ng generate component hero-detail
        
    *** obojsmerná syntax ***
        
        [(ngModel)] je obojsmerná syntax údajov Angular.

    *** USE *ngFor - REPEAT DIRECTIVE - TO GET DATA FROM OBJECT (ID AND NAME)
        
        <li *ngFor="let hero of heroes">

    *** Pridanie udalosti kliknutia ***

        <li *ngFor="let hero of heroes" (click)="onSelect(hero)">
    
    *** Pridanie vazby na element ***
        
        [class.selected]="hero === selectedHero"


 -->

</body>
</html>
